$booking-color-main: #ff7b30;

$booking-color-border1:#d9d9d9;

$booking-color-bg1: #f8f9fb;
$booking-color-bg2: #00000080;

$booking-color-text1: #999;
$booking-color-text2: #ccc;
$booking-color-text3: #666;