.category-list-area {
  position: sticky;
  display: block;
  align-items: center;
  width: 100%;
  height: 38px;
  top: 0;
  padding-right: 40px;
  padding-bottom: 1px;
  background-color: #fff;
  border-top: 1px solid $booking-color-border1;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 1px 0 0 #d9d9d9;
  z-index: 90000;
  letter-spacing: -0.8px;

      .category-list {
        
        
        .category-list-item {
          display: inline-block;
          vertical-align: middle;
          padding: 10px 11px;
          color: $booking-color-text3;
          font-size: 12px;
          
        
        
          &.is-active {
            color: $booking-color-main; 
          } 
        }
      }  
        
        
        .category-list-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 38px;
        height: 37px;
        border-left: 1px solid $booking-color-border1;
        background-color: #fff;
        
          .ico-chevron-down {
            color: $booking-color-text3;
            margin-top: 13px;
            margin-left: 12px;
            width: 12px;
            height: 12px; 
            transform: rotate(0deg);
            transition: all .3s;
        }
      }
    }
