.header-area {
    position: relative;
    display: block;
    padding-top: 16px;
    width: 100%;

    .header-search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto 12px;
        padding: 0 12px;
        width: 100%;
        height: 40px;
    }

    .logo-img-box {
        padding-top: 8px;
    }

    .search-box {
        position: relative;
        display: block;
        border: 2px solid $booking-color-main;
        border-radius: 4px;
        height: 100%;
        width: 100%;
        margin: 0 5px 0 5px;
        
        .search-input {
            position: absolute;
            justify-content: space-between;
            width: 80%;
            height: 36px;
            left: 10px;
            vertical-align: middle;
            @include ellipse;

            .search-input:focus {
                display: none;
            }
        }

        .search-input::placeholder {
            text-align: center;
            letter-spacing: -0.3;
            color: $booking-color-text1;
            text-align: left;
            font-size: 13px;
            font-weight: 400;
        }

        .search-btn {
            position: absolute;
            width: 36px;
            height: 36px;
            right: 5px;
            vertical-align: middle;
            .ico-search {
                width: 20px;
                height: 20px;
                color: $booking-color-main;
            }
        }
    }

    .cart-box {
        .ico-cart {
            position: relative;
            width: 28px;
            height: 28px;
            color: #333;
        }

        .cart-badge {
            position: absolute;
            width: 17px;
            height: 17px;
            font-size: 11px;
            background-color: $booking-color-main;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            top: 14px;
            right: 8px;

        }
    }
}